Source: openmpi
Maintainer: Scibian Project <packaging@scibian.org>
Section: net
Priority: extra
Standards-Version: 3.9.8
Homepage: https://www.open-mpi.org/
Vcs-Git: https://github.com/scibian/openmpi.git
Vcs-Browser: https://github.com/scibian/openmpi
Build-Depends: debhelper (>= 10),
               dpkg-dev (>= 1.16.1~),
               dh-autoreconf,
               gfortran,
               librdmacm-dev,
               libibverbs-dev,
               pkg-config,
               libnuma-dev,
               zlib1g-dev,
               g++ (>=4.9),
               flex,
               libpsm2-dev,
               libfabric-dev,
               libpsm-infinipath1-dev,
               nvidia-cuda-toolkit,


Package: openmpi-gcc-hfi
Architecture: amd64
Depends: mpi-selector,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Powerful implementation of MPI/SHMEM with PSM2
 Open MPI is an open source implementation of the Message Passing
 Interface specification (http://www.mpi-forum.org/) developed and
 maintained by a consortium of research, academic, and industry
 partners.
 .
 This package contains all the tools necessary to compile, link, and run
 Open MPI jobs.

Package: openmpi-gcc-cuda-hfi
Architecture: amd64
Depends: mpi-selector,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Powerful implementation of MPI/SHMEM with CUDA PSM2
 Open MPI is an open source implementation of the Message Passing
 Interface specification (http://www.mpi-forum.org/) developed and
 maintained by a consortium of research, academic, and industry
 partners.
 .
 This package contains all the tools necessary to compile, link, and run
 Open MPI jobs.
